.carousel-image {
  height: 640px !important;
  width: 1680px !important;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.view-trips-button {
  background-color: #ffea00 !important;
  text-transform: uppercase;
  color: black;
  font-size: 14px !important;
  font-weight: 600 !important;
}

.carousel-caption {
  background-color: white !important;
  color: black !important;
}

.hr-line {
  width: 10%;
  height: 2px !important;
  border-bottom: 2px solid #ffea00;
}

.image-size {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
