.wknd-logo {
  height: 35px;
  width: 96px;
}
.header-navbar {
  padding: 50px 0 !important;
  margin: 0 auto;
}
.nav-item.active,
.nav-item:hover {
  background-color: #ffea00;
}
a {
  font-weight: 600;
}
li {
  font-size: 14px;
}
.search-icon {
  background-color: #fff !important;
  border-right: 0px;
}
.search-input {
  border-left: 0;
}
.scroll-nav {
  background-color: #fff;
  box-shadow: 0 8px 20px 0 rgb(0 0 0 / 26%);
}

.scroll-padding {
  padding-top: 25px !important;
  padding-bottom: 15px !important;
}
