.featured-image {
  width: 645px;
  height: 470px;
}
.flex-container {
  display: flex;
}
.flex-item {
  float: left;
  flex: 1 !important;
}
.featured-article {
  background-color: rgb(235, 235, 235);
  padding: 63px 36px 36px 36px;
}
.full-article-button {
  background-color: #ffea00 !important;
  text-transform: uppercase;
  color: black;
  font-size: 14px !important;
  font-weight: 600 !important;
}
.container-sm {
  max-width: 1140px !important;
}
.featured-article-description {
  font-size: 14px !important;
}
.hr-line {
  width: 10%;
  height: 2px !important;
  border-bottom: 2px solid #ffea00;
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  width: inherit;
  white-space: nowrap;
}
